:root {
  background-color: transparent !important;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent !important;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}